<div class="row" >
  <div class="secondary-tagline col-sm-12">
    <h2>Code with rich features</h2>
    <h6>There's a lot more to an editor. Whether it's using built-in features or</h6>
      <h6>rich extensions, there's something for everyone.</h6>
  </div>
  <div class="feature-grid col-sm-12">
    <a href="https://code.visualstudio.com/docs/terminal/basics" class="feature-card">
      <img src="/codicon-terminal.svg" alt="terminal icon">
      <h3 class="feature-card-title">Integrated terminal</h3>
      <p>Use your favorite shell whether it's zsh, pwsh, or git bash, all inside the editor.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/editor/debugging" class="feature-card">
      <img src="/codicon-debug.svg" alt="debug icon">
      <h3 class="feature-card-title">Run code</h3>
      <p>Run and debug your code without leaving your editor.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/sourcecontrol/overview" class="feature-card">
      <img src="/codicon-version-control.svg" alt="branching icon">
      <h3 class="feature-card-title">Version control</h3>
      <p>Built-in support for git and many other source control providers.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/editor/tasks" class="feature-card">
      <img src="/codicon-build-tasks.svg" alt="tools icon">
      <h3 class="feature-card-title">Build tasks</h3>
      <p>Run tools and analyze their results from within VS Code.</p>
    </a>
    <a href="https://code.visualstudio.com/updates/v1_66#_local-history" class="feature-card">
      <img src="/codicon-local-history.svg" alt="history icon">
      <h3 class="feature-card-title">Local history</h3>
      <p>Never lose your changes with automatically tracked local history.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/getstarted/themes" class="feature-card">
      <img src="/codicon-themes.svg" alt="palette icon">
      <h3 class="feature-card-title">Themes</h3>
      <p>Your theme is an extension of your personality. Add some flair to your editor and add your touch.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/editor/accessibility" class="feature-card">
      <img src="/codicon-accessibility.svg" alt="keyboard icon">
      <h3 class="feature-card-title">Accessibility</h3>
      <p>Optimized experience for screen readers, high contrast themes, and keyboard-only navigation.</p>
    </a>
    <a href="https://code.visualstudio.com/docs/editor/vscode-web" class="feature-card">
      <img src="/codicon-web.svg" alt="globe icon">
      <h3 class="feature-card-title">Web support</h3>
      <p>Whether you are on your phone, tablet, or desktop, you can access your code from anywhere.</p>
    </a>
  </div>
</div>
