
<section class="languages-section">

    <div class="text-content">
      <h1>Code fully customized</h1>
      <h6>
        Customize your VS Code UI and layout so that it fits your coding style.
      </h6>

      <p class="additional-links">
          <a href="https://code.visualstudio.com/docs/getstarted/themes"> Color Themes </a>let you modify the colors in VS Code's user interface to suit your preferences and work environment.
      </p>
      <p class="additional-links">
          <a href="https://code.visualstudio.com/docs/getstarted/settings#_settings-sync"> Settings Sync </a> enables you to share your user settings across your VS Code instances with the Settings Sync feature.
      </p>
      <p class="additional-links">
          <a href="https://code.visualstudio.com/docs/editor/profiles"> Profiles </a>  let you create sets of customizations and quickly switch between them or share them with others.
      </p>
    </div>
  
<div class="image-section2">
  <img src="/swimlane-customized-light.png" alt="customized Image">

</div>
</section>