
<section class="languages-section">

      <div class="text-content">
        <h1>Code with GitHub Copilot</h1>
        <h6>
            Write code faster and smarter with GitHub Copilot, your AI pair programmer.
        </h6>
            
        <h6 class="additional-links"><a href="https://github.com/settings/copilot?utm_source=vscode-landing-2&utm_medium=swim&utm_campaign=2024q3-em-MSFT-signup">Try Github Copilot free for 30Days</a></h6>
        
       

        <p class="additional-links">
            <a href="https://code.visualstudio.com/docs/copilot/ai-powered-suggestions"> Completions </a> present suggestions automatically to help you code more efficiently.
        </p>
        <p class="additional-links">
            <a href="https://code.visualstudio.com/docs/copilot/copilot-chat"> Copilot Chat </a> understands the context of your code, workspace, extensions, settings, and more.
        </p>
        <p class="additional-links">
            <a href="https://code.visualstudio.com/docs/copilot/getting-started#_refactor-your-code-through-ai-chat">Inline Chat </a> enables you to iteratively generate edits and get answers to quick questions, directly on your code.
        </p>
      </div>
    
<div class="image-section1">
    <img src="/swimlane-copilot-light.png" alt="Copilot Image">

</div>
</section>