<div class="footer-container">
  <div class="footer-row">
    <div class="footer-social">
      <ul class="links">
        <li>
          <a href="https://go.microsoft.com/fwlink/?LinkID=533687" 
            ><img src="/x-icon.svg"  alt="Follow us on X" style="width:18px"
          /></a>
        </li>
        <li>
          <a href="https://github.com/microsoft/vscode"
            ><img src="/github-icon.svg" alt="VS Code on Github"
          /></a>
        </li>
        <li>
          <a href="https://www.youtube.com/@code"
            ><img src="/youtube-icon.svg" alt="VS Code on YouTube"
          /></a>
        </li>
      </ul>
      <div class="linksmicrosoft">
      <a
        id="footer-microsoft-link"
        class="microsoft-logo"
        href="https://www.microsoft.com"
      >
        <img src="/microsoft.svg" alt="Microsoft homepage" />
      </a>
    </div>
    </div>
  </div>
  <div class="footer-row">
    <ul class="links">
      <li>
        <a
          id="footer-support-link"
          href="https://support.serviceshub.microsoft.com/supportforbusiness/create?sapId=d66407ed-3967-b000-4cfb-2c318cad363d"
          target="_blank"
          rel="noopener"
          >Support</a
        >
      </li>
      <li>
        <a
          id="footer-privacy-link"
          href="https://go.microsoft.com/fwlink/?LinkId=521839"
          target="_blank"
          rel="noopener"
          >Privacy</a
        >
      </li>
      <li style="display: none">
        <a
          id="footer-cookie-link"
          style="cursor: pointer"
          onclick="manageConsent()"
          target="_blank"
          rel="noopener"
          >Manage Cookies</a
        >
      </li>
      <li>
        <a
          id="footer-terms-link"
          href="https://www.microsoft.com/legal/terms-of-use"
          target="_blank"
          rel="noopener"
          >Terms of Use</a
        >
      </li>
      <li>
        <a
          id="footer-license-link"
          href="/License"
          target="_blank"
          rel="noopener"
          >License</a
        >
      </li>
    </ul>
  </div>
</div>
